video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: flex;
}

.hero-container {
  height: 90vh;
  width: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  justify-content: flex-start;
  max-height: 800px;
}

.hero-container > h2 {
  color: #fff;
  font-size: 50px;
  margin-top: -500px;
}

.hero-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
  font-family: "Courier New", Courier, monospace;
}

.hero-btn1 {
  z-index: 4;
}

.hero-btn1 .btn {
  margin-left: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }

  .hero-container {
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h2 {
    font-size: 20px;
  }

  .hero-container > p {
    font-size: 13px;
    text-align: center;
  }
  .btn-mobile {
    display: block;
    text-decoration: none;
  }
  .btn {
    width: 80%;
  }
}

.disableclick {
  pointer-events: none;
}
